@model PracaInz.Models.ChangeDataViewModel

    @*@using (Html.BeginForm("ChangeData", "Manage"))
    {
        @Html.EditorFor(model => model.Telefon)
        @Html.EditorFor(model => model.M_zamieszkania)
        <input type="submit" value="Save" />
    }*@
@using (Html.BeginForm("ChangeData", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Zmień swoje dane</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Telefon", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Telefon, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
       @Html.Label("Miejsce zamieszkania", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.M_zamieszkania, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Email", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Zapisz" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}