@model PracaInz.Models.IndexViewModel
@{
    ViewBag.Title = "Profil";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Twój profil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Hasło</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Zmień swoje hasło", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Imię</dt>
        <dd>
            @ViewBag.Imie
        </dd>
        <dt>Nazwisko</dt>
        <dd>
            @ViewBag.Nazwisko
        </dd>
        <dt>Email</dt>
        <dd>
            @ViewBag.Email
        </dd>
        <dt>Telefon</dt>
        <dd>
            @ViewBag.Telefon
        </dd>
        <dt>Miejsce zamieszkania</dt>
        <dd>
            @ViewBag.M_zamieszkania
        </dd>
        <dd>
            @Html.ActionLink("Zmień swoje dane", "ChangeData")
        </dd>
    </dl>
</div>
