@model PracaInz.Models.Opinion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Opinion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opinia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opinia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ocena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ocena)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
