@model PracaInz.Models.Average

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Average</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Srednia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Srednia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
